
*{
	color: aliceblue;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
}
body{
	background-color: #dcecf4c9;
	
}
.head-container{
	height: 10vh;
	background-color: #120606;
	display: flex;
	align-items: center;
	gap: 15px;
}
.head-container div:hover{
	border: solid 1px white;
	padding: 5px;
}
.logo img{
	height: 10.7vh;
	width:100%;
}
.deliver{
	display: flex;
	gap: 2px;
}
.deliver:hover{
	border-color: aqua;
}

form input{
	color: #1e1f2f;
	border-style: none;
	border-color: aliceblue;
	width: 40vw;
	height: 5.5vh;
}
form select{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-color: #d1cccc;
	color: grey;
	background-color: #d1cccc;
	height: 6vh;
}
.search-bar form{
	display: flex;
}
.search-bar i{
	background-color: #f49f55;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 25px;
	text-align: center;
	padding-top: 5px;
}
.search-bar label{
	color: grey;
	background-color: #e2dcd5;
	margin-right: 0;
}
.flag{
	display: flex;
}
.flag select{
	background-color: black;
	border: none;
	margin: 0;
}

.cart{
	display: flex;
}
.cart i{
	font-size: 17px;
}
.cart p{
	padding-top: 8px;
	font-size: smaller;
}
/* *******navbar */
.navbar ul{
	font-size: 10px;
	height: 8vh;
	background-color: #1e1f2f;
	display: flex;
	gap: 12px;
	align-items: center;
	padding-left: 17px;
}
.navbar ul li a:hover{
	border: solid 1px white;
	padding: 5px;
}
.mom-smile img{
	width: 100%;
}
/* items collection */
.first-collection{
	display: flex;
	gap: 10px;
	margin: 15px;
	position: relative;
	top: -175px;
}

.first-collection img{
	padding: 10px;
	width: 20vw;
}
.destop{
	background-color: white;
}
.toy{
	background-color: white;
}

.third-collection{
	display: flex;
	/* gap: 10px; */
	margin: 15px;
	
}

.third-collection img{
	padding: 10px;
	width: 20vw;
}
.destop{
	background-color: white;
}
.toy{
	background-color: white;
}