
*{
	font-size: 15px;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
}
.head-container{
	color: #ffff;
	height: 7vh;
	background-color: #120606;
	display: flex;
	align-items: center;
	gap: 25px;
}
.head-container div:hover{
	border: solid 1px white;
	padding: 5px;
}
.logo img{
	height: 7.7vh;
	width:100%;
}
.deliver{
	display: flex;
	gap: 2px;
}
form input{
	color: #1e1f2f;
	border-style: none;
	border-color: aliceblue;
	width: 55vw;
	height: 5.5vh;
}
form select{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-color: #d1cccc;
	color: grey;
	background-color: #d1cccc;
	height: 5.8vh;
}
.search-bar form{
	display: flex;
}
.search-bar i{
	background-color: #f49f55;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 35px;
	text-align: center;
	padding-top: 15px;
}

.flag{
	display: flex;
}
.flag select{
	color: #ffff;
	background-color: black;
	border: none;
	margin: 0;
}

.cart{
	display: flex;
}
.cart i{
	font-size: 25px;
}
.cart p{
	padding-top: 8px;
	font-size: smaller;
	margin-right: 5px;
}
/* *******navbar */
.navbar ul{
	font-size: 10px;
	height: 8vh;
	background-color: #1e1f2f;
	display: flex;
	gap: 12px;
	align-items: center;
	padding-left: 17px;
}
.navbar a{
	color: #ffff;
}
.navbar ul li a:hover{
	border: solid 1px white;
	padding: 5px;
}
/* sliders */

.slider {
	overflow: hidden;
}

.slides {
	display: flex;
	animation: slide 5s infinite;
}

.slides img {
	width: 100%;
	height: auto;
	transition: transform 5s ease;
}

@keyframes slide {
	0% {
	transform: translateX(0%);
	}
	33.33% {
	transform: translateX(-100%);
	}
	66.67% {
	transform: translateX(-200%);
	}
	100% {
	transform: translateX(0%);
	}
}

/* ******first collection */
/* items collection */


.first-collection{
	background-color: #b04141;
	/* display: flex; */
	/* gap: 10px; */
	margin: 15px;
	position: relative;
	top: -175px;
}

.first-item{
	background-color: #ddb437;
	height: 90px;
}

/* .first-collection{
	height: 50px;
	background-color: #fff;
	padding: 20px;
	width: 20vw; */
/* } */
/* .destop{
	background-color: white;
}
.toy{
	background-color: white;
} */ */ */

.third-collection{
	display: flex;
	/* gap: 10px; */
	margin: 15px;
	
}

.third-collection img{
	padding: 10px;
	width: 20vw;
}
.destop{
	background-color: white;
}
.toy{
	background-color: white;
}

/* footer */
footer{
	font-size: 10px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

footer button{
	width: 18vw;
	background-color: #e9d23c;
	border-radius: 3px;
	border: #ddb437 solid 1.5px;
	padding: 3px;
}
footer a:hover{
	color: #97216a;
}

/* back to top */
hr{
	color: #efe6e6ba;
	border: solid .1px;
}
.back-to-top a{
	margin-top: 10px;
	background-color: #464863;
	height: 7vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* footer sections */
.footer-section{
	background-color: #2c2d3e;
}
.section-1{
	color: #ffff;
	display: flex;
	justify-content: center;
	gap: 40px;
	padding: 50px 30px;
}
.section-1 a{
	color: #ddd7d7;
	line-height: 25px;
	font-size: 16px;
}

/* footer second section */

.section-2{
	font-size: 8px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 8px
	;
}
.section-2 img{
	height: 50px;
	width:5%;
	border-radius: 4px;
}

.us-flag{
	color: grey;
	padding: 0 8px;
	border: solid 1px grey;
	border-radius: 3px;
	display: flex;
	gap: 8px;
}
.us-flag img{
	margin-top: 10px;
	height: 3vh;
	width: 2vw;
}
.section-2 form{
	padding: 0 8px;
	border: solid 1px grey;
	border-radius: 3px;
	width: 8vw;
}
.us-dollar{
	font-size: 12px;
	padding: 0 8px;
	border: solid 1px grey;
	border-radius: 3px;
}
/* footer third section */
.sign {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	font-size: 24px;
	font-weight: bold;
}

.right {
	background-color: blue;
	color: white;
}

.wrong {
	background-color: white;
	color: blue;
}
.section-3 {
	display: flex;
	text-align: center;
}
